<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>{&quot;errors&quot;:{&quot;login&quot;:[&quot;has already been taken&quot;]}}</key>
	<string>User name already exists</string>
	<key>{&quot;errors&quot;:{&quot;email&quot;:[&quot;should look like an email address&quot;]}}</key>
	<string>Invalid Email</string>
	<key>{&quot;errors&quot;:{&quot;email&quot;:[&quot;has already been taken&quot;]}}</key>
	<string>Email already used</string>
	<key>{&quot;code&quot;:null,&quot;message&quot;:&quot;User not found&quot;}</key>
	<string>User not found</string>
	<key>NSURLErrorDomain:-1009</key>
	<string>No Internet connection</string>
</dict>
</plist>
